<div class="flex">
  <div class="side_bar min-w-2xl sm:w-0 w-60"><%= render '/backend/sidebar' %></div>
  <div class="flex flex-col w-full relative bg-gray-100 min-h-screen">
    <!-- NavBar -->
    <div class="absolute top-0 w-full">
      <!-- 這邊要插入NavBar -->
    </div>
    <!-- 上半框 -->
    <div class="bg-white">
      <div class="container container-donate w-2/3 mx-auto py-6 bg-white">
        <h1 class="text-xl font-black">單集列表</h1>
      </div>
    </div>
     <!-- 下半框 -->
     <div class="bg-gray-100">

     </div>
    <!-- Footer -->
    <div class="absolute bottom-0 w-full">
      <%= render '/backend/footer' %>
    </div>
  </div>
</div>
