<div class="relative h-screen flex flex-col justify-between items-center">
  <div class="relative flex flex-col h-full justify-center items-center w-full">
    <div class="">
      <%= link_to image_tag("logo", size: "600x600"), "/#" %>
    </div>
    <div class="flex m-2 p-2">
      <div class="p-2"><%= link_to "創作者", root_url(subdomain: "podcasters"), class: "homepage_btn" %></div>
      <div class="p-2"><%= link_to "Podcast 大廳", browse_url(subdomain: "player"), class: "homepage_btn" %></div>
    </div>
  </div>
  <div class="footer_copyright w-full">
    <p class="p-1">©</p>
    <p class="p-1">2021</p>
    <p class="p-1">SoundBar</p>
  </div>
</div>
