<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="flex">

  參考 <%= link_to "Soundon官網首頁", 'https://www.soundon.fm/', class: "btn bg-red-400 hover:bg-red-600", target: "_blank" %>
  <%= link_to "創作者", root_url(subdomain: "podcasters"), class: "btn btn-primary" %>
  <%= link_to "收聽", browse_url(subdomain: "player"), class: "btn btn-primary" %>

</div>
