<h1>Pages#podcaster</h1>
<p>Find me in app/views/pages/podcaster.html.erb</p>


<div class="flex">

  參考 <%= link_to "Soundon官網for Podcaster", 'https://podcasters.soundon.fm/', class: "btn bg-green-400 hover:bg-green-600", target: "_blank" %>
  <%= link_to "登入", new_user_session_url(subdomain: nil), class: "btn bg-gray-400 hover:bg-gray-600" %>
  <%= link_to "馬上註冊", new_user_registration_url(subdomain: nil) , class: "btn btn-primary" %>

</div>
