<div class="flex justify-end w-full bg-white h-16 py-4 text-gray-600 relative">
  <ul class="navbar absolute left-4">
    <li class="relative mx-3 cursor-pointer text-sm">
      <input id="podcastNameInput" type="text" placeholder="<%= @podcast.name %>" class="text-2xl focus:outline-none placeholder-gray-700 focus:placeholder-opacity-30 transition duration-1000">
      <ul id="podcastNameUl" class="absolute shadow-xl w-full py-1 rounded border border-gray-100 border-opacity-70 bg-white hidden">
        <% current_user.podcasts.each do |podcast| %>
        <li class="my-1 hover:bg-gray-100 p-2"><%= link_to podcast.name, dashboard_podcast_path(podcast.random_url) %></li>
        <% end %>
      </ul>
    </li>
  </ul>

  <ul class="navbar flex pt-2 pr-2">
    <!-- 登出 -->
    <li class="relative mx-3 cursor-pointer text-sm">
      <i class="far fa-user"></i>
      <span><%= current_user.email %></span>
      <i class="fas fa-chevron-down"></i>
      <ul class="absolute shadow-xl w-full py-1 rounded border border-gray-100 border-opacity-70 hidden">
        <li class="text-sm p-2 hover:bg-gray-100 transition duration-200">
          <%= link_to "登出", destroy_user_session_url(subdomain: ""), method: "delete", class: "block" %>
        </li>
      </ul>
    </li>
    <!-- 語言 -->
    <li class="relative mx-3 cursor-pointer text-sm">
      <i class="fas fa-globe"></i>
      <span >語言</span>
      <i class="fas fa-chevron-down"></i>
      <ul class="absolute shadow-xl w-full py-1 rounded border border-gray-100 border-opacity-70 hidden">
        <li class="text-sm p-2 hover:bg-gray-100 transition duration-200">中文</li>
        <li class="text-sm p-2 hover:bg-gray-100 transition duration-200">English</li>
      </ul>
    </li>
    <!-- 設定 -->
    <span class="ml-1 mr-3 cursor-pointer text-sm">
      <i class="fas fa-cog"></i>
    </span>
  </ul>

</div>
