<div class="flex m-6 justify-center">
  <a href="/podcaster/podcasts"><%= image_tag("new_logo_black", size: "280x280") %></a>
</div>
<h1 class="flex justify-center m-10 text-2xl font-bold">編輯節目</h1>

<%= render 'form', podcast: @podcast %>
