<div class="flex m-6 justify-center">
  <%= link_to image_tag("new_logo_black", size: "280x280"), "/podcaster/podcasts" %>
</div>

<h1 class="flex justify-center m-10 text-2xl font-bold">建立 Podcast</h1>
<%= render 'form', podcast: @podcast %>
